*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} 

html, body{
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Playfair Display', serif;
}

.content{
	display: inline-block;
	width: 100%;
}

.content p{
	font-family: 'Lato', sans-serif;
}

#header{
	position: fixed;
	z-index: 100;
	height: 80px;
	width: 100%;
}

.background-img{
	background-image: url('../img/menu-restaurant-vintage-table.jpg');
	background-size: cover;
	background-repeat: no-repeat;

}

.bg-cover{
	background-color: rgba(0,0,0,0.4);
	height: inherit;
}

.navbar-brand, .logo{
	color: #CFA670;
	font-family: 'Dancing Script', cursive;
	font-size: 2rem;
	text-decoration: none;
}

.logo:hover{
	text-decoration: none;
	color: #CFA670;
}

.navigation{
	width: 100%;
	padding: 15px;
	transition: all 0.3s ease;
}

.navigation .nav-list{
	display: inline-block;
	float: right;
}

.navigation .nav-list a{
	color: #ccc;
}

.navigation .nav-list li{
	display: inline;
	margin-right: 15px;
}

.navigation .nav-list a:hover{
	text-decoration: none;
	color: #fff;
}

button.nav-toggle{
	border: none;
	background: none;
	color: #fff;
	float: right;
	margin-right: 10px;
    font-size: 2rem;
}

button.nav-toggle:focus{
	outline: none;
}

#navbar01 a{
	color: #ccc;
}

.navigation a.active{
	color: #CFA670!important;
}

.navigation .nav-list a.active.text-grey{
	color: #CFA670!important;
}

.rwd-navigation{
	display: none;
	width: 100%;
	transition: all 0.3s ease;
	background-color: #111;
	position: relative;
	margin: auto;
	z-index: 100;
}

.nav-close{
	position: absolute;
	right: 15px;
	top: 10px;
	border: none;
	background: none;
	color: #fff;
    font-size: 1.3rem;
}

.rwd-nav-list{
	padding: 10px 0;
	list-style: none;
}

.rwd-nav-list li{
	margin-bottom: 20px;
	font-size: 1.25rem;
}


.rwd-nav-list a{
	color: #666;
}

.rwd-nav-list a:hover{
	color: #888;
	text-decoration: none;
}

#home{
	width: 100%;
	height: 85vh;
	position: relative;
	font-family: 'Lato', sans-serif;
}

#home .intro{
	padding: 300px 20%;
}

#home .intro h1{
	color: #fff;
}

#home .intro p{
	color: #ccc;
	margin-bottom: 40px;
}

#home .intro .btn-link{
	color: #fff;
	border: 1px solid #CFA670;
	padding: 15px 20px;
	text-decoration: none;
	transition: all 0.3s ease;
}

#home .intro .btn-link:hover{
	border-color: #f7c688;
}

#about .content{
	margin-top: 100px;
	color: #666;
	font-family: 'Lato', sans-serif;
}

#about .content h3, #about .content h4{
	font-family: 'Playfair Display', serif;
	color: #111;
}

#about .content img{
	border-radius: 10px;
}

#about .content i{
	color: #CFA670;
	display: inline;
}

.flaticon-steak:before, .flaticon-steak:after{
	font-size: 4rem;
}

.flaticon-hamburger:before, .flaticon-hamburger:after{
	font-size: 4rem;
}

.flaticon-dish:before, .flaticon-dish:after{
	font-size: 4rem;
}

.flaticon-coffee:before, .flaticon-coffee:after{
	font-size: 4rem;
}

.flaticon-cake:before, .flaticon-cake:after{
	font-size: 4rem;
}

.flaticon-chicken:before, .flaticon-chicken:after{
	font-size: 4rem;
}

#menu{
	height: 900px;
}

.parallax{
	background-size: cover; 
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#menu.parallax{
	background-image: url('../img/menu-restaurant-france-eating-9315.jpg');
}

#menu .content{
	color: #777;
	text-align: center;
	padding: 10px;
	display: inline-block;
}

#menu .content .outline{
	border: 1px solid #CFA670;
	padding: 10px;	
}

#menu .row h5{
	margin-top: 30px;
	padding: 0 40px;
}

#menu img{
	width: 100%;
	height: 115px;
}

#gallery{
	margin-top: 150px;
	text-align: center;
}

.gallery-item{
	height: 246px;
}

.gallery-item:hover{
	background-color: #000;
	cursor: zoom-in;
}

#gallery .heading p{
	width: 45%; 
	margin: 10px auto 40px auto;
}

#modal1{
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	z-index: 1000;
	top: 0;
	display: none;
}

#modal1 .modal-content{
	width: 50%;
	margin: 10% auto;
	height: 60%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#modal1 .close-btn{
	border: none;
	background: none;
	color: #fff;
	float: right;
	margin: 8% 25% 0 0;
	font-size: 1.5rem;
	transition: all 0.3s ease;
}

#modal1 .close-btn:hover{
	cursor: pointer;
	color: #bbb;
}

#modal1 .close-btn:focus{
	outline: none;
}

#reservation{
	margin-top: 150px;
	/*margin-bottom: 150px;*/
	height: 700px;
}

#reservation form{
	padding: 0 200px; 
}

#reservation input, #reservation select{
	width: 100%;
	height: 57px;
	border: 0 solid #000;
	padding: 15px;
	transition: all 0.2s ease;
}

#reservation input:hover, #reservation input:focus{
	border: 1px solid #000;
	outline: none;
}

#reservation select{
	color: #777;
}

#reservation select:hover, #reservation select:focus{
	border: 1px solid #000;
	outline: none;
}

#reservation .btn-link{
	color: #aaa;
	border: 1px solid #aaa;
	padding: 15px 20px;
	text-decoration: none;
	transition: all 0.3s ease;
}

#reservation .btn-link:hover{
	color: #222;
	border: 1px solid #CFA670;
	padding: 15px 20px;
	text-decoration: none;
}

#map01{
	width: 100%;
	height: 300px;
	display: inline-block;
	margin-top: 100px;
}

#footer{
	background-color: #111111;
	color: #ddd;
}

#footer ul{
	list-style: none;
}

#footer li{
	display: inline;
	margin-right: 10px;
}

#footer i{
	padding: 6px;
	border: 1px solid #CFA670;
	color: #CFA670;
	transition: all 0.3s ease;
}

#footer i:hover{
	color: #f7c688;

}

#footer .copyright{
	border-top: 1px solid #222; 
	text-align: center;
	padding: 20px;
}

.text-grey{
	color: #777!important;
}

.text-grey:hover{
	color: #333!important;
}

@media only screen and (max-width: 970px){
	
	#menu{
		height: 1000px;
	}

	#menu .row .col-sm-12.col-lg-6{
		border: none!important;
	}

	#menu .row h5{
		margin-top: 10px;
		padding: 0 10px;
	}

	#menu .row .row div{
		margin-bottom: 20px;
	}

	#modal1 .modal-content{
		width: 90%;
		margin: 12% auto;
		height: 60%;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	#modal1 .close-btn{
		border: none;
		background: none;
		color: #fff;
		float: right;
		margin: 8% 5% 0 0;
		font-size: 1.5rem;
		transition: all 0.3s ease;
	}


}


@media only screen and (max-width: 750px){
	
	.navigation{
		border-bottom: 1px solid #444;
	}

	#home .intro{
		padding: 0;
		margin-top: 130px;
	}

	#menu{
		height: auto;
		padding-bottom: 50px;
	}

	#modal1 .modal-content{
		
	}

	#modal1 .close-btn{
		
		margin-top: 5%;
		
	}

	#reservation form{
		padding: 0!important; 
	}

	#footer{
		text-align: center;
		margin-top: 140px;
	}

	#footer h4{
		margin-bottom: 25px;
	}

	#footer p{
		padding: 0!important;
		margin-bottom: 20px;
	}

	#footer ul{
		margin-bottom: 25px;
	}
}


@media only screen and (max-width: 500px){
	html{
		font-size: 0.85rem;
	}

	#home .intro{
		padding: 0;
		margin-top: 250px;
	}

	.content{
		text-align: center;
	}

	#about img{
		height: 400px;
	}

	#menu{
		height: auto;
		padding-bottom: 50px;
	}

	#menu .row img{
		height: 95px;
	}

	#menu h5{
		margin-bottom: 20px;
	}

	#menu .row h5{
		margin: 5px 0 10px 0;
		padding: 0 15px;
	}

	#gallery .heading p{
		width: 100%; 
		margin: 10px auto 40px auto;
	}

	#modal1 .modal-content{
		width: 100%;
		margin: 30% auto;

	}

	#modal1 .close-btn{
		
		margin: 22% 5% 0 0;
		
	}

	#reservation{
		height: 800px;
	}

	#footer{
		text-align: center;
	}

	
}